#!/usr/bin/make -f

UUID_DIR := gjsosk@openyellowos.com
EXT_SRC  := $(UUID_DIR)

%:
	dh $@

override_dh_auto_build:
	# nothing to build

override_dh_auto_install:
	# Install extension system-wide
	mkdir -p debian/oyo-gjs-osk/usr/share/gnome-shell/extensions/$(UUID_DIR)
	cp -a gjsosk@openyellowos.com/* \
	  debian/oyo-gjs-osk/usr/share/gnome-shell/extensions/$(UUID_DIR)/

	# Compile GSettings schemas INSIDE extension directory
	if [ -d "debian/oyo-gjs-osk/usr/share/gnome-shell/extensions/$(UUID_DIR)/schemas" ]; then \
	  glib-compile-schemas \
	    debian/oyo-gjs-osk/usr/share/gnome-shell/extensions/$(UUID_DIR)/schemas; \
	fi


